@font-face {
    font-family: 'PressStart2P';
    src: url('PressStart2P.ttf') format('truetype');
}

#gameContainer {
    width: 672px;
    margin: 0 auto;
    font-family: PressStart2P;
}

#topBar, #bottomBar {
    font-size: 0;
    background-color: black;
}

#topBar div {
    display: inline-block;
    text-align: center;
    width: calc(672px / 4);
    font-size: 16px;
}

#bottomBar div {
    display: inline-block;
    text-align: center;
    width: calc(672px / 4);
    font-size: 16px;
    color: white;
}

#currentLevel {
    color: #8a4198;
}

#playerLifes {
    color: #5b73ff;
}

#currentScores {
    color: #3b53ff;
}

#topScores {
    color: #8fbf26;
}
